<div class="header">
	<h1>Sign Up</h1>
</div>
<div class="signup-background">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<a href="#">
					<div class="pro-signup">
						<h2>Sign up as a Pro</h2>
						<div class="features">
							<ul>
								<li>Get listed skilled professional.</li>
								<li>Be found by the Grenadian public</li>
								<li>Search Projects and provide quote.</li>
							</ul>
						</div>
					
					</div>
				</a>
			</div>

			<div class="col-md-6">
				<a href="#">
					<div class="client-signup">
						<h2>Sign up as a Client</h2>
						<div class="features">
							<ul>
								<li>Post Project unlimited jobs.</li>
								<li>Recieve multiple quotes from skilled the pros.</li>
								<li>Create contact and directory liet for your needs.</li>
							</ul>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
