<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% if @users.exists? %>
	<table >
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Directory action</th>
		</tr>
	
		<% @users.each do |user| %>
		<tr>
			
				<td><%= user.fname %></td>
				<td><%= user.lname %></td>

				<td>
					<% if current_client %>
					<div class = "dropdown">
						<button class="dropbtn">Add to directory</button>
						<div class="dropdown-content">
							<% @directories.each do |directory| %>
								<%= button_to directory.directory_title,clients_directory_directory_lines_path(directory_id: directory.id, user_id: user.id), remote: :true %>
							<% end %>
						</div>	
					</div>
					<% end %>
				</td>
			</tr>
		<% end %>		
	</table>
<% else %>
  <p>There are no categories</p>
<% end %>

