<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% if @users.exists? %>
	<table >
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Actions</th>
		</tr>

		<% @users.each do |user| %>
			<tr>
				<td><%= user.fname %></td>
				<td><%= user.lname %></td>
				<td>
					<%= link_to 'Edit', edit_user_registration_path(user.id) %>
					<div class = "dropdown">
						<button onclick="myFunction()" class="dropbtn">Add to directory</button>
						<div id="myDropdown" class="dropdown-content">
							<% @directories.each do |directory| %>
								<%= link_to directory.directory_title , projects_path %>
							<% end %>
						</div>
					</div>
				</td>
			</tr>
		<% end %>
	</table>
<% else %>
  <p>There are no categories</p>
<% end %>

<script type="text/javascript">
	function myFunction(){
		document.getElementById("myDropdown").classList.toggle("show");
	}

	window.onclick = function(event){
		if (!event.target.matches('.dropbtn')){
			var dropdowns = document.getElementsByClassName("dropdown-content");
			var i;
			for(i = 0; i < dropdowns.length; i++){
				var openDropdown = dropdowns[i];
				if(openDropdown.classList.contains('show')){
					openDropdown.classList.remove('show');
				}
			}
		}
	}
</script>
