<% if @projects.exists? %>
	<table>
		<tr>
			<th>Project Name</th>
			<th>Budget</th>
		</tr>

		<% @projects.each do |project| %>
			<tr>
				<td><%= project.project_title %></td>
				<td><%= project.budget %></td>
				<td>
					<%= link_to 'Show',project_path(project.id) %>
				</td>
			</tr>
		<% end %>
	</table>
<% else %>
  <p>There are no categories</p>
<% end %>
