<h1>Clients::Dashboard#index</h1>
<p>Find me in app/views/clients/dashboard/index.html.erb</p>

	<table >
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Actions</th>
		</tr>
		<tr>
			
			<td><%= @client.fname %></td>
			<td><%= @client.lname %></td>
			<td> <%= link_to 'View Directory', clients_directories_path(@client.id) %> | <%= link_to('Logout' , destroy_client_session_path, method: :delete) %></td>
				
		</tr>
	</table>
